.button {
    position: absolute !important;
    bottom: 0;
    border: none !important;
}

.helpTextWrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.helpText {
    text-transform: uppercase;
    font-size: 13px;
    flex-grow: 1;
    font-weight: 700;
    margin-left: 9px;
    text-align: left;
}
