.subMenuItemTitle {
    text-transform: uppercase;
    flex-grow: 1;
    font-weight: 700;
    text-align: left;
}

.subMenuItemBtn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 35px;
    width: 100%;
    background-color: #fff;
    border: none;
    padding-right: 10px;
    position: relative;
    /* padding: 0px 15px; */
}

.subMenuItemBtn:hover {
    z-index: 9999;
}

.lineWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* min-height: 35px; */
}
